crpt/xsd/LP_base_types_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:simpleType name="IPv4Address_type">
	<xs:annotation>
	    <xs:documentation>IPv4. Запись в виде четырёх десятичных чисел (от 0 до 255), разделённых точками. </xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
	    <xs:pattern value="((1?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])\.){3}(1?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])"/>
	</xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IPv6Address_type">
	<xs:annotation>
	    <xs:documentation>IPv6. Запись в виде восьми четырёхзначных шестнадцатеричных чисел (групп по четыре символа), разделённых
двоеточием. </xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
	    <xs:pattern value="([A-Fa-f0-9]{1,4}:){7}[A-Fa-f0-9]{1,4}" />
	</xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string255_type">
	<xs:annotation>
	    <xs:documentation>Текстовое значение не более 255 символов</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
	    <xs:minLength value="1"/>
	    <xs:maxLength value="255"/>
	</xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string1000_type">
	<xs:annotation>
	    <xs:documentation>Текстовое значение не более 1000 символов</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
	    <xs:minLength value="1"/>
	    <xs:maxLength value="1000"/>
	</xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="participant_type">
	<xs:annotation>
	    <xs:documentation>Справочник типов участников
Участник оборота товаров - TRADE_PARTICIPANT
Оператор ИС МП - OPERATOR
ЦЭМ - LABELLING_CENTER
ОГВ - OGV
Эмитент - EMITENT</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
	    <xs:enumeration value="TRADE_PARTICIPANT"/>
	    <xs:enumeration value="OPERATOR"/>
	    <xs:enumeration value="LABELLING_CENTER"/>
	    <xs:enumeration value="OGV"/>
	    <xs:enumeration value="EMITENT"/>
	</xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="inn_type">
	<xs:annotation><xs:documentation>ИНН участника оборота</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
	    <xs:minLength value="10"/>
	    <xs:maxLength value="12"/>
	    <xs:pattern value="(([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8})|(([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10})"/>
	</xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="kpp_type">
	<xs:annotation>
	    <xs:documentation>КПП участника оборота</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
	    <xs:length value="9"/>
	    <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{7}"/>
	</xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="date_type">
	<xs:annotation>
	    <xs:documentation>Значение даты в формате ДД.ММ.ГГГГ.</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
	    <xs:length value="10"/>
	    <xs:pattern value="(0[1-9]{1}|[1-2]{1}[0-9]{1}|3[0-1]{1})\.(0[1-9]{1}|1[0-2]{1})\.(1[0-9]{3}|20[0-9]{2})"/>
	</xs:restriction>
    </xs:simpleType>
    <xs:complexType name="fias_address_type">
	<xs:annotation>
	    <xs:documentation>Адрес в формате ФИАС</xs:documentation>
	</xs:annotation>
	<xs:sequence>
	    <xs:element name="aoguid">
		<xs:annotation>
		    <xs:documentation>Глобальный уникальный идентификатор адресного объекта </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
		    <xs:restriction base="xs:string">
			<xs:length value="36"/>
			<xs:pattern value="([a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12})"/>
		    </xs:restriction>
		</xs:simpleType>
	    </xs:element>
	    <xs:element name="houseguid" minOccurs="0">
		<xs:annotation>
		    <xs:documentation>Глобальный уникальный идентификатор дома. Обязателен при наличии</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
		    <xs:restriction base="xs:string">
			<xs:length value="36"/>
			<xs:pattern value="([a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12})"/>
		    </xs:restriction>
		</xs:simpleType>
	    </xs:element>
	    <xs:element name="flat" minOccurs="0">
		<xs:annotation>
		    <xs:documentation>Квартира. Обязателен при наличии</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
		    <xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		    </xs:restriction>
		</xs:simpleType>
	    </xs:element>
	</xs:sequence>
    </xs:complexType>
    <xs:simpleType name="datetimeoffset_type">
	<xs:annotation>
	    <xs:documentation>Значение даты и времени, а так же смещение, относительно времени в формате UTC </xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:dateTime">
	    <xs:minInclusive value="0001-01-01T00:00:00Z"/>
	    <xs:pattern value="((000[1-9])|(00[1-9][0-9])|(0[1-9][0-9]{2})|([1-9][0-9]{3}))-((0[1-9])|(1[012]))-((0[1-9])|([12][0-9])|(3[01]))T(([01][0-9])|(2[0-3]))(:[0-5][0-9]){2}(\.[0-9]+)?(([+-]((((0[0-9])|(1[0-3]))(:[0-5][0-9]))|14:00))|Z)"/>
	</xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="turnover_enum_type">
	<xs:annotation>
	    <xs:documentation>Справочник видов оборота товаров
Продажа-покупка - BUYING_AND_SELLING
Комиссия - COMMISSION
Агент - AGENT
Продажа комиссионером - COMMISSIONAIRE_SALE
Подряд - CONTRACT
	    </xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
	    <xs:enumeration value="BUYING_AND_SELLING"/>
	    <xs:enumeration value="COMMISSION"/>
	    <xs:enumeration value="AGENT"/>
	    <xs:enumeration value="COMMISSIONAIRE_SALE"/>
	    <xs:enumeration value="CONTRACT"/>
	</xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="price_type">
	<xs:annotation>
	    <xs:documentation>Стоимость/Налог</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:decimal">
	    <xs:totalDigits value="19"/>
	    <xs:fractionDigits value="2"/>
	    <xs:minInclusive value="0"/>
	</xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="guid_type">
	<xs:annotation>
	    <xs:documentation>GUID (Globally Unique Identifier)</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
	    <xs:length value="36"/>
	    <xs:pattern value="([a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12})"/>
	</xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="token_type">
	<xs:annotation>
	    <xs:documentation>
Регистрационный токен СУЗ</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
	    <xs:length value="15"/>
	    <xs:pattern value="([A-Za-z0-9]{15})"/>
	</xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tcpip_port_type">
<xs:annotation>
<xs:documentation>Порт TCP/IP</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:integer">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="65535"/>
</xs:restriction>
</xs:simpleType><xs:simpleType name="tnved_code_4_type">
<xs:annotation>
<xs:documentation>Код товарной номенклатуры (4 знака)</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:integer">
<xs:minInclusive value="6401"/>
<xs:maxInclusive value="6405"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="tnved_code_2_type">
<xs:annotation>
<xs:documentation>Код товарной номенклатуры (2 знака)</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:integer">
<xs:minInclusive value="64"/>
<xs:maxInclusive value="64"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="tnved_code_type">
<xs:annotation>
<xs:documentation>Код ТН ВЭД ЕАС товара</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:integer">
<xs:minInclusive value="6401000000"/>
<xs:maxInclusive value="6405999999"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="withdrawal_type">
<xs:annotation>
<xs:documentation>Справочник причин вывода из оборота
Розничная продажа - RETAIL
Экспорт в страны ЕАЭС - EEC_EXPORT
Экспорт за пределы стран ЕАЭС - BEYOND_EEC_EXPORT
Возврат физическому лицу - RETURN
Продажа по образцам, дистанционный способ продажи - REMOTE_SALE
Утрата или повреждение - DAMAGE_LOSS
Уничтожение - DESTRUCTION
Конфискация - CONFISCATION
Ликвидация предприятия - LIQUIDATION
</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="RETAIL"/>
<xs:enumeration value="EEC_EXPORT"/>
<xs:enumeration value="BEYOND_EEC_EXPORT"/>
<xs:enumeration value="RETURN"/>
<xs:enumeration value="REMOTE_SALE"/>
<xs:enumeration value="DAMAGE_LOSS"/>
<xs:enumeration value="DESTRUCTION"/>
<xs:enumeration value="CONFISCATION"/>
<xs:enumeration value="LIQUIDATION"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="withdrawal_shipment_type">
<xs:annotation>
<xs:documentation>Справочник причин вывода из оборота при отгрузке
Безвозмездная передача - DONATION
Приобретение гос.предприятием - STATE_ENTERPRISE
Использование для собственных нужд покупателем - NO_RETAIL_USE
</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="DONATION"/>
<xs:enumeration value="STATE_ENTERPRISE"/>
<xs:enumeration value="NO_RETAIL_USE"/>
</xs:restriction></xs:simpleType>
<xs:simpleType name="primary_document_name_type">
<xs:annotation>
<xs:documentation>Справочник наименований первичных документа
Кассовый чек - RECEIPT
Кассовый чек коррекции - CORRECTION_RECEIPT
Товарный чек - SALES_RECEIPT
Товарная накладная - CONSIGNMENT_NOTE
Универсальный передаточный документ - UTD
Таможенная декларация на товары - CUSTOMS_DECLARATION
Акт уничтожения (утраты/утилизации) - DESTRUCTION_ACT
Прочее - OTHER
</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="RECEIPT"/>
<xs:enumeration value="CORRECTION_RECEIPT"/>
<xs:enumeration value="SALES_RECEIPT"/>
<xs:enumeration value="CONSIGNMENT_NOTE"/>
<xs:enumeration value="UTD"/>
<xs:enumeration value="CUSTOMS_DECLARATION"/>
<xs:enumeration value="DESTRUCTION_ACT"/>
<xs:enumeration value="OTHER"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="gs1_uit_uitu_type">
<xs:annotation>
<xs:documentation>Уникальный идентификатор транспортной упаковки или товара</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{18}|[A-Za-z0-9]{31}|[A-Za-z0-9]{37}|[A-Za-z0-9]{38}|[A-Za-z0-9]{44}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="gtin_type">
<xs:annotation>
<xs:documentation>GTIN</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:length value="14"/>
<xs:pattern value="[0-9]{14}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="production_order_type">
<xs:annotation>
<xs:documentation>Справочник типов производственного заказа
Собственное производство - OWN_PRODUCTION
Контрактное производство - CONTRACT_PRODUCTION</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="OWN_PRODUCTION"/>
<xs:enumeration value="CONTRACT_PRODUCTION"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="certificate_type_type">
<xs:annotation>
<xs:documentation>Справочник видов документов, подтверждающих соответствие
Сертификат соответствия - CONFORMITY_CERTIFICATE
Декларация соответствия - CONFORMITY_DECLARATION</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="CONFORMITY_CERTIFICATE"/>
<xs:enumeration value="CONFORMITY_DECLARATION"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="sn_type"><xs:annotation>
<xs:documentation>Серийный номер</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z0-9]{13}|[a-zA-Z0-9]{20}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="release_method_type">
<xs:annotation>
<xs:documentation>Справочник способов ввода товаров в оборот
Произведен в РФ - PRODUCED_IN_RF
Ввезен в РФ - IMPORTED_INTO_RF
</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="PRODUCED_IN_RF"/>
<xs:enumeration value="IMPORTED_IN_RF"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="decision_code_type">
<xs:annotation>
<xs:documentation>Справочник кодов принятого решения
10 - Выпуск товаров разрешен
11 - Выпуск товаров при условии обеспечения исполнения обязанности по уплате таможенных пошлин, налогов, специальных,
антидемпинговых, компенсационных пошлин, за исключением выпуска товаров, поименованного в позициях с кодами 12 и 13
12 - Выпуск товаров с особенностями, предусмотренными статьей 121 Таможенного кодекса Евразийского экономического союза
13 - Выпуск товаров с особенностями, предусмотренными статьей 122 Таможенного кодекса Евразийского экономического союза
14 - Выпуск товаров с особенностями, предусмотренными статьей 123 Таможенного кодекса Евразийского экономического союза
20 - Условный выпуск товаров</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:int">
<xs:enumeration value="10"/>
<xs:enumeration value="11"/>
<xs:enumeration value="12"/>
<xs:enumeration value="13"/>
<xs:enumeration value="14"/>
<xs:enumeration value="20"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="remark_cause_type">
<xs:annotation>
<xs:documentation>Справочник причин перемаркировки
Испорчено либо утеряно СИ с КМ - KM_SPOILED
Выявлены ошибки описания товара - DESCRIPTION_ERRORS</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="KM_SPOILED"/>
<xs:enumeration value="DESCRIPTION_ERRORS"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="km_cancellation_reason_type">
<xs:annotation>
<xs:documentation>Спроавочник причин списания кодов маркировки
Испорчен - KM_SPOILED
Утерян - KM_LOST
Уничтожен - KM_DESTROYED</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="KM_SPOILED"/>
<xs:enumeration value="KM_LOST"/>
<xs:enumeration value="KM_DESTROYED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="reaggregation_type_type">
<xs:annotation>
<xs:documentation>Спроавочник типов трансформации транспортной упаковкиИзъятие - REMOVING
Добавление - ADDING
</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="REMOVING"/>
<xs:enumeration value="ADDING"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="kitu_type">
<xs:annotation>
<xs:documentation>КИТУ (код идентификации транспортной упаковки)</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:length value="18"/>
<xs:pattern value="[0-9]{18}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="kit_type">
<xs:annotation>
<xs:documentation>КИ (код идентификации)</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:minLength value="31"/>
<xs:maxLength value="44"/>
<xs:pattern value="[A-Za-z0-9]{27}|[A-Za-z0-9]{31}|[A-Za-z0-9]{37}|[A-Za-z0-9]{33}|[A-Za-z0-9]{38}|[A-Za-z0-9]{34}|[A-Za-z0-9]{40}|[A-Za-z0-
9]{44}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ki_type">
<xs:annotation>
<xs:documentation>КИ (код идентификации)</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:minLength value="31"/>
<xs:maxLength value="44"/>
<xs:pattern value="[A-Za-z0-9]{27}|[A-Za-z0-9]{31}|[A-Za-z0-9]{37}|[A-Za-z0-9]{33}|[A-Za-z0-9]{38}|[A-Za-z0-9]{34}|[A-Za-z0-9]{40}|[A-Za-z0-
9]{44}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="production_method_type">
<xs:annotation>
<xs:documentation>Способ изготовления
Самостоятельно - OWN
ЦЭМ - LC
</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="OWN"/>
<xs:enumeration value="LC"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="reception_method_type">
<xs:annotation>
<xs:documentation>Способ получения кодов маркировки
На физическом носителе - PHYSICAL_MEDIA
В электронном виде - ELECTRONIC
</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="PHYSICAL_MEDIA"/>
<xs:enumeration value="ELECTRONIC"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="sn_method_type"><xs:annotation>
<xs:documentation>Способ формирования серийного номера
Самостоятельно - OWN
Оператором - OPERATOR
</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="OWN"/>
<xs:enumeration value="OPERATOR"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="certificate_sn_type">
<xs:annotation>
<xs:documentation>Серийный номер сертификата УКЭП</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:pattern value="([a-zA-Z0-9])+"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="children_products_list_type">
<xs:sequence>
<xs:element name="product" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Список товаров в составе транспортной упаковки</xs:documentation>
</xs:annotation>
<xs:complexType>
<xs:sequence>
<xs:element name="kit" minOccurs="0" type="kit_type">
<xs:annotation>
<xs:documentation>КИ</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="kitu" minOccurs="0" type="kitu_type">
<xs:annotation>
<xs:documentation>КИТУ</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="accept_type" type="xs:boolean">
<xs:annotation>
<xs:documentation>Товар принят</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="children_products_list" minOccurs="0" type="children_products_list_type">
<xs:annotation>
<xs:documentation>Список товаров в составе транспортной упаковки</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="distribution_type_type">
<xs:annotation>
<xs:documentation>Справочник типов движения товара
Приход-расход - INCOME_OUTCOME
Возврат - RETURN</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="INCOME_OUTCOME"/>
<xs:enumeration value="RETURN"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="shipment_type_type">
<xs:annotation>
<xs:documentation>Справочник типов отгрузки
Отгрузка - SHIPMENTПересорт - RETAKE
Обмен - EXCHANGE</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="SHIPMENT"/>
<xs:enumeration value="RETAKE"/>
<xs:enumeration value="EXCHANGE"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>