crpt/xsd/LP_base_types_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:simpleType name="IPv4Address_type">
		<xs:annotation>
			<xs:documentation>IPv4. Запись в виде четырёх десятичных чисел (от 0 до 255), разделённых точками. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="((1?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])\.){3}(1?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="IPv6Address_type">
		<xs:annotation>
			<xs:documentation>IPv6. Запись в виде восьми четырёхзначных шестнадцатеричных чисел (групп по четыре символа), разделённых двоеточием. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([A-Fa-f0-9]{1,4}:){7}[A-Fa-f0-9]{1,4}" />
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="string255_type">
		<xs:annotation>
			<xs:documentation>Текстовое значение не более 255 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="string200_type">
		<xs:annotation>
			<xs:documentation>Текстовое значение не более 200 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="string1000_type">
		<xs:annotation>
			<xs:documentation>Текстовое значение не более 1000 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="string50_type">
		<xs:annotation>
			<xs:documentation>Текстовое значение не более 50 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="string1024_type">
		<xs:annotation>
			<xs:documentation>Текстовое значение не более 1024 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1024"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="string128_type">
		<xs:annotation>
			<xs:documentation>Текстовое значение не более 128 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="string70_type">
		<xs:annotation>
			<xs:documentation>Текстовое значение не более 70 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="participant_type">
		<xs:annotation>
			<xs:documentation>Справочник типов участников
				Участник оборота товаров - TRADE_PARTICIPANT
				Оператор ИС МП - OPERATOR
				ЦЭМ - LABELLING_CENTER
				ОГВ - OGV
				Эмитент - EMITENT</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="TRADE_PARTICIPANT"/>
			<xs:enumeration value="OPERATOR"/>
			<xs:enumeration value="LABELLING_CENTER"/>
			<xs:enumeration value="OGV"/>
			<xs:enumeration value="EMITENT"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="inn_type">
		<xs:annotation>
			<xs:documentation>ИНН участника оборота</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="([0-9]{9})|(([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8})|(([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10})"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="kpp_type">
		<xs:annotation>
			<xs:documentation>КПП участника оборота</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="date_type">
		<xs:annotation>
			<xs:documentation>Значение даты в формате ДД.ММ.ГГГГ.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="(0[1-9]{1}|[1-2]{1}[0-9]{1}|3[0-1]{1})\.(0[1-9]{1}|1[0-2]{1})\.(1[0-9]{3}|20[0-9]{2})"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="fias_address_type">
		<xs:annotation>
			<xs:documentation>Адрес в формате ФИАС</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="aoguid">
				<xs:annotation>
					<xs:documentation>Глобальный уникальный идентификатор адресного объекта </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="36"/>
						<xs:pattern value="([a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="houseguid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Глобальный уникальный идентификатор дома. Обязателен при наличии</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="36"/>
						<xs:pattern value="([a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="flat" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Квартира. Обязателен при наличии</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="datetimeoffset_type">
		<xs:annotation>
			<xs:documentation>Значение даты и времени, а так же смещение, относительно времени в формате UTC </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:minInclusive value="0001-01-01T00:00:00Z"/>
			<xs:pattern value="((000[1-9])|(00[1-9][0-9])|(0[1-9][0-9]{2})|([1-9][0-9]{3}))-((0[1-9])|(1[012]))-((0[1-9])|([12][0-9])|(3[01]))T(([01][0-9])|(2[0-3]))(:[0-5][0-9]){2}(\.[0-9]+)?(([+-]((((0[0-9])|(1[0-3]))(:[0-5][0-9]))|14:00))|Z)"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="turnover_enum_type">
		<xs:annotation>
			<xs:documentation>Справочник видов оборота товаров
				Продажа - SELLING
				Комиссия - COMMISSION
				Агент - AGENT
				Продажа комиссионером - COMMISSIONAIRE_SALE
				Подряд - CONTRACT
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SELLING"/>
			<xs:enumeration value="COMMISSION"/>
			<xs:enumeration value="AGENT"/>
			<xs:enumeration value="COMMISSIONAIRE_SALE"/>
			<xs:enumeration value="CONTRACT"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="product_gender_type">
		<xs:annotation>
			<xs:documentation>Пол обуви
				Мужской - MALE
				Женский - FEMALE
				Детская - BABY
				Унисекс - UNISEX
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="MALE"/>
			<xs:enumeration value="FEMALE"/>
			<xs:enumeration value="BABY"/>
			<xs:enumeration value="UNISEX"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="price_type">
		<xs:annotation>
			<xs:documentation>Стоимость/Налог</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="19"/>
			<xs:fractionDigits value="2"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="guid_type">
		<xs:annotation>
			<xs:documentation>GUID (Globally Unique Identifier)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="36"/>
			<xs:pattern value="([a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12})"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="token_type">
		<xs:annotation>
			<xs:documentation>
				Регистрационный токен СУЗ
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="15"/>
			<xs:pattern value="([A-Za-z0-9]{15})"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tcpip_port_type">
		<xs:annotation>
			<xs:documentation>Порт TCP/IP</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="65535"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="shoe_size">
		<xs:annotation>
			<xs:documentation>Размер в штихмассовой системе</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="14.5"/>
			<xs:maxInclusive value="47"/>
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="tnved_code_4_type">
		<xs:annotation>
			<xs:documentation>Код товарной номенклатуры (4 знака)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tnved_code_2_type">
		<xs:annotation>
			<xs:documentation>Код товарной номенклатуры (2 знака)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tnved_code_type">
		<xs:annotation>
			<xs:documentation>Код ТН ВЭД ЕАС товара</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="withdrawal_type">
		<xs:annotation>
			<xs:documentation>Справочник причин вывода из оборота
				Розничная продажа - RETAIL
				Экспорт в страны ЕАЭС - EEC_EXPORT
				Экспорт за пределы стран ЕАЭС - BEYOND_EEC_EXPORT
				Возврат физическому лицу - RETURN
				Продажа по образцам, дистанционный способ продажи - REMOTE_SALE
				Утрата или повреждение - DAMAGE_LOSS
				Уничтожение - DESTRUCTION
				Конфискация - CONFISCATION
				Использование для собственных нужд предприятия - ENTERPRISE_USE
				Ликвидация предприятия - LIQUIDATION
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="RETAIL"/>
			<xs:enumeration value="EEC_EXPORT"/>
			<xs:enumeration value="BEYOND_EEC_EXPORT"/>
			<xs:enumeration value="RETURN"/>
			<xs:enumeration value="REMOTE_SALE"/>
			<xs:enumeration value="DAMAGE_LOSS"/>
			<xs:enumeration value="DESTRUCTION"/>
			<xs:enumeration value="CONFISCATION"/>
			<xs:enumeration value="ENTERPRISE_USE"/>
			<xs:enumeration value="LIQUIDATION"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="withdrawal_shipment_type">
		<xs:annotation>
			<xs:documentation>Справочник причин вывода из оборота при отгрузке
				Безвозмездная передача - DONATION
				Приобретение гос.предприятием - STATE_ENTERPRISE
				Использование для собственных нужд покупателем - NO_RETAIL_USE
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="DONATION"/>
			<xs:enumeration value="STATE_ENTERPRISE"/>
			<xs:enumeration value="NO_RETAIL_USE"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="withdraw_primary_document_type_type">
		<xs:annotation>
			<xs:documentation>Справочник типов первичных документов для вывода из оборота
				Кассовый чек - RECEIPT
				Бланк строгой отчетности - STRICT_REPORTING_FORM
				Договор - CONTRACT
				Акт уничтожения (утраты/утилизации) - DESTRUCTION_ACT
				Товарная накладная - CONSIGNMENT_NOTE
				Универсальный передаточный документ - UTD
				Прочее - OTHER

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="RECEIPT"/>
			<xs:enumeration value="STRICT_REPORTING_FORM"/>
			<xs:enumeration value="CONTRACT"/>
			<xs:enumeration value="DESTRUCTION_ACT"/>
			<xs:enumeration value="CONSIGNMENT_NOTE"/>
			<xs:enumeration value="UTD"/>
			<xs:enumeration value="OTHER"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="return_primary_document_type_type">
		<xs:annotation>
			<xs:documentation>Справочник типов первичных документов для вывода из оборота
				Кассовый чек - RECEIPT
				Товарный чек - SALES_RECEIPT
				Прочее - OTHER
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="RECEIPT"/>
			<xs:enumeration value="SALES_RECEIPT"/>
			<xs:enumeration value="OTHER"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="shipment_primary_document_type_type">
		<xs:annotation>
			<xs:documentation>Справочник типов первичных документов для отгрузки
				Товарная накладная - CONSIGNMENT_NOTE
				Универсальный передаточный документ - UTD
				Прочее - OTHER
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CONSIGNMENT_NOTE"/>
			<xs:enumeration value="UTD"/>
			<xs:enumeration value="OTHER"/>
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="gs1_uit_uitu_type">
		<xs:annotation>
			<xs:documentation>Уникальный идентификатор транспортной упаковки или товара</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{18}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{27}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{31}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{33}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{34}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{37}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{38}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{40}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{44}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{39}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{45}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="gtin_type">
		<xs:annotation>
			<xs:documentation>GTIN</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="14"/>
			<xs:pattern value="[0-9]{14}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="production_order_type">
		<xs:annotation>
			<xs:documentation>Справочник типов производственного заказа
				Собственное производство - OWN_PRODUCTION
				Контрактное производство - CONTRACT_PRODUCTION</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OWN_PRODUCTION"/>
			<xs:enumeration value="CONTRACT_PRODUCTION"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="certificate_type_type">
		<xs:annotation>
			<xs:documentation>Справочник видов документов, подтверждающих соответствие
				Сертификат соответствия - CONFORMITY_CERTIFICATE
				Декларация о соответствии - CONFORMITY_DECLARATION</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CONFORMITY_CERTIFICATE"/>
			<xs:enumeration value="CONFORMITY_DECLARATION"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="sn_type">
		<xs:annotation>
			<xs:documentation>Серийный номер</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="13"/>
			<xs:pattern value="[a-zA-Z0-9]{13}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="release_method_type">
		<xs:annotation>
			<xs:documentation>Справочник способов ввода товаров в оборот
				Произведен в РФ - PRODUCED_IN_RF
				Ввезен в РФ - IMPORTED_INTO_RF
				Остатки - OSTATKI
				ТрансГран - CROSSBORDER
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="PRODUCED_IN_RF"/>
			<xs:enumeration value="IMPORTED_INTO_RF"/>
			<xs:enumeration value="CROSSBORDER"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="decision_code_type">
		<xs:annotation>
			<xs:documentation>Справочник кодов принятого решения
				10 - Выпуск товаров разрешен
				11 - Выпуск товаров при условии обеспечения исполнения обязанности по уплате таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин, за исключением выпуска товаров, поименованного в позициях с кодами 12 и 13
				12 - Выпуск товаров с особенностями, предусмотренными статьей 121 Таможенного кодекса Евразийского экономического союза
				13 - Выпуск товаров с особенностями, предусмотренными статьей 122 Таможенного кодекса Евразийского экономического союза
				14 - Выпуск товаров с особенностями, предусмотренными статьей 123 Таможенного кодекса Евразийского экономического союза
				20 - Условный выпуск товаров</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="20"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="remark_cause_type">
		<xs:annotation>
			<xs:documentation>
				Испорчено либо утеряно СИ с КМ - KM_SPOILED_OR_LOST
				Выявлены ошибки описания товара - DESCRIPTION_ERRORS
				Возврат товаров с поврежденным СИ/без СИ при розничной реализации - RETAIL_RETURN
				Возврат товаров с поврежденным СИ/без СИ при дистанционном способе продажи - REMOTE_SALE_RETURN</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="KM_SPOILED"/>
			<xs:enumeration value="DESCRIPTION_ERRORS"/>
			<xs:enumeration value="RETAIL_RETURN" />
			<xs:enumeration value="REMOTE_SALE_RETURN" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="km_cancellation_reason_type">
		<xs:annotation>
			<xs:documentation>Спроавочник причин списания кодов маркировки
				Испорчен - KM_SPOILED
				Утерян - KM_LOST
				Уничтожен - KM_DESTROYED</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="KM_SPOILED"/>
			<xs:enumeration value="KM_LOST"/>
			<xs:enumeration value="KM_DESTROYED"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="reaggregation_type_type">
		<xs:annotation>
			<xs:documentation>Спроавочник типов трансформации транспортной упаковки
				Изъятие - REMOVING
				Добавление - ADDING
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="REMOVING"/>
			<xs:enumeration value="ADDING"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="transformation_type_type">
		<xs:annotation>
			<xs:documentation>Спроавочник типов трансформации упаковки
				Изъятие - REMOVING
				Добавление - ADDING
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="REMOVING"/>
			<xs:enumeration value="ADDING"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="kitu_type">
		<xs:annotation>
			<xs:documentation>КИТУ (код идентификации транспортной упаковки)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="18"/>
			<xs:pattern value="[0-9]{18}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="kit_type">
		<xs:annotation>
			<xs:documentation>КИ (код идентификации)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="25"/>
			<xs:maxLength value="45"/>
			<xs:pattern value="[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{25}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{27}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{29}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{31}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{33}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{34}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{37}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{38}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{40}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{44}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{39}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{45}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ki_type">
		<xs:annotation>
			<xs:documentation>КИ (код идентификации)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="25"/>
			<xs:maxLength value="45"/>
			<xs:pattern value="[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{25}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{27}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{29}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{31}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{33}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{34}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{37}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{38}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{40}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{44}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{39}|[a-zA-Z0-9_.,()/=!@$^\\|\[\]&quot;#%&amp;*;&lt;&gt;&apos;+:?\-{}~`]{45}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="production_method_type">
		<xs:annotation>
			<xs:documentation>Способ изготовления
				Самостоятельно - OWN
				ЦЭМ - LC
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OWN"/>
			<xs:enumeration value="LC"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="reception_method_type">
		<xs:annotation>
			<xs:documentation>Способ получения кодов маркировки
				На физическом носителе - PHYSICAL_MEDIA
				В электронном виде - ELECTRONIC
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="PHYSICAL_MEDIA"/>
			<xs:enumeration value="ELECTRONIC"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="sn_method_type">
		<xs:annotation>
			<xs:documentation>Способ формирования серийного номера
				Самостоятельно - OWN
				Оператором - OPERATOR
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OWN"/>
			<xs:enumeration value="OPERATOR"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="certificate_sn_type">
		<xs:annotation>
			<xs:documentation>Серийный номер сертификата УКЭП</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([a-zA-Z0-9])+"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="shipment_children_products_list_type">
		<xs:sequence>
			<xs:element name="product" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Список КИ/КИТУ в составе транспортной упаковки (отгрузка)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ki" minOccurs="0" type="ki_type">
							<xs:annotation>
								<xs:documentation>КИ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="kitu" minOccurs="0" type="kitu_type">
							<xs:annotation>
								<xs:documentation>КИТУ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="cost" minOccurs="0" type="price_type">
							<xs:annotation>
								<xs:documentation>Цена за единицу</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vat_value" minOccurs="0" type="price_type">
							<xs:annotation>
								<xs:documentation>Сумма НДС</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="children_products_list" minOccurs="0" type="shipment_children_products_list_type">
							<xs:annotation>
								<xs:documentation>Список КИ\КИТУ составе транспортной упаковки (отгрузка)</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="acceptance_children_products_list_type">
		<xs:sequence>
			<xs:element name="product" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Список КИ\КИТУ в составе транспортной упаковки (приемка)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ki" minOccurs="0" type="ki_type">
							<xs:annotation>
								<xs:documentation>КИ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="kitu" minOccurs="0" type="kitu_type">
							<xs:annotation>
								<xs:documentation>КИТУ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="accept_type" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Товар принят</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="children_products_list" minOccurs="0" type="acceptance_children_products_list_type">
							<xs:annotation>
								<xs:documentation>Список КИ\КИТУ в составе транспортной упаковки (приемка)</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="vvod_children_products_list_type">
		<xs:sequence>
			<xs:element name="product" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Список КИ\КИТУ в составе транспортной упаковки для ввода в оборот</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ki" minOccurs="0" type="kit_type">
							<xs:annotation>
								<xs:documentation>КИ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="kitu" minOccurs="0" type="kitu_type">
							<xs:annotation>
								<xs:documentation>КИТУ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="product_date" type="date_type" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Дата производства</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="tnved_code" type="tnved_code_type">
							<xs:annotation>
								<xs:documentation>Код ТН ВЭД ЕАС товара</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="certificate_type" type="certificate_type_type">
							<xs:annotation>
								<xs:documentation>Вид документа, подтверждающего соответствие</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="certificate_number" type="string255_type">
							<xs:annotation>
								<xs:documentation>Номер документа, подтверждающего соответствие</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="certificate_date" type="date_type">
							<xs:annotation>
								<xs:documentation>Дата документа, подтверждающего соответствие</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vvod_children_products_list" minOccurs="0" type="vvod_children_products_list_type">
							<xs:annotation>
								<xs:documentation>Список КИ\КИТУ в составе транспортной упаковки для ввода в оборот</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="vvod_ind_children_products_list_type">
		<xs:sequence>
			<xs:element name="product" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Список КИ\КИТУ в составе транспортной упаковки для ввода в оборот (полученных от физических лиц)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ki" minOccurs="0" type="kit_type">
							<xs:annotation>
								<xs:documentation>КИ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="kitu" minOccurs="0" type="kitu_type">
							<xs:annotation>
								<xs:documentation>КИТУ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="product_receiving_date" type="date_type" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Дата получения товара</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vvod_ind_children_products_list" minOccurs="0" type="vvod_ind_children_products_list_type">
							<xs:annotation>
								<xs:documentation>Список КИ\КИТУ в составе транспортной упаковки для ввода в оборот (полученных от физических лиц)</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="vvod_ost_children_products_list_type">
		<xs:sequence>
			<xs:element name="product" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Список КИ\КИТУ в составе транспортной упаковки для ввода в оборот (остатки)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ki" minOccurs="0" type="kit_type">
							<xs:annotation>
								<xs:documentation>КИ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="kitu" minOccurs="0" type="kitu_type">
							<xs:annotation>
								<xs:documentation>КИТУ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vvod_ost_children_products_list" minOccurs="0" type="vvod_ost_children_products_list_type">
							<xs:annotation>
								<xs:documentation>Список КИ\КИТУ в составе транспортной упаковки для ввода в оборот (остатки)</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="vvod_crossborder_products_list_type">
		<xs:sequence>
			<xs:element name="product" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Список КИ\КИТУ в составе транспортной упаковки для ввода в оборот (трансграничная торговля)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ki" minOccurs="0" type="kit_type">
							<xs:annotation>
								<xs:documentation>КИ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="kitu" minOccurs="0" type="kitu_type">
							<xs:annotation>
								<xs:documentation>КИТУ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="tnved_code" type="tnved_code_type">
							<xs:annotation>
								<xs:documentation>Код ТН ВЭД ЕАС товара</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="cost" type="price_type">
							<xs:annotation>
								<xs:documentation>Цена за единицу</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vat_value" type="price_type">
							<xs:annotation>
								<xs:documentation>Сумма НДС</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="certificate_type" type="certificate_type_type">
							<xs:annotation>
								<xs:documentation>Вид документа, подтверждающего соответствие</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="certificate_number" type="string255_type">
							<xs:annotation>
								<xs:documentation>Номер документа, подтверждающего соответствие</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="certificate_date" type="date_type">
							<xs:annotation>
								<xs:documentation>Дата документа, подтверждающего соответствие</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="children_products_list" minOccurs="0" type="vvod_crossborder_products_list_type">
							<xs:annotation>
								<xs:documentation>Список КИ/КИТУ в составе транспортной упаковки для ввода в оборот (трансграничная торговля)</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="distribution_type_type">
		<xs:annotation>
			<xs:documentation>Справочник типов движения товара
				Приход-расход - INCOME_OUTCOME
				Возврат - RETURN</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="INCOME_OUTCOME"/>
			<xs:enumeration value="RETURN"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="vvod_type_type">
		<xs:annotation>
			<xs:documentation>Справочник видов ввода товарв в оборот
				Собственное производство РФ - OWN_PRODUCTION
				Контрактное производство РФ - CONTRACT_PRODUCTION
				Производство вне ЕАЭС - BEYOND_EEC_PRODUCTION
				Производство в ЕАЭС - EEC_PRODUCTION
				Ввод полученных от физ.лиц товаров - INDIVIDUALS
				Ввод остатков товара - OSTATKI
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OWN_PRODUCTION"/>
			<xs:enumeration value="CONTRACT_PRODUCTION"/>
			<xs:enumeration value="BEYOND_EEC_PRODUCTION"/>
			<xs:enumeration value="EEC_PRODUCTION"/>
			<xs:enumeration value="INDIVIDUALS"/>
			<xs:enumeration value="OSTATKI"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="oksm_type">
		<xs:annotation>
			<xs:documentation>Код страны ОКСМ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="oksm_cb_type">
		<xs:annotation>
			<xs:documentation>Код страны ОКСМ для ввода в оборот при трансграничной торговле
				Армения - 051
				Беларусь - 112
				Казахстан - 398
				Киргизия - 417
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="051"/>
			<xs:enumeration value="112"/>
			<xs:enumeration value="398"/>
			<xs:enumeration value="417"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="oksm_alpha2_type">
		<xs:annotation>
			<xs:documentation>Буквенный код идентификации страны в соответствии с ОКСМ (альфа-2)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="return_type_type">
		<xs:annotation>
			<xs:documentation>Справочник видов возврата
				Возврат при розничной реализации - RETAIL_RETURN
				Возврат при дистанционном способе реализации - REMOTE_SALE_RETURN
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="RETAIL_RETURN"/>
			<xs:enumeration value="REMOTE_SALE_RETURN"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tnved_code_2_ost_type">
		<xs:annotation>
			<xs:documentation>Код товарной номенклатуры (2 знака) для остатков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:enumeration value="40"/>
			<xs:enumeration value="90"/>
			<xs:enumeration value="63"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="61"/>
			<xs:enumeration value="62"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="age_category_type">
		<xs:annotation>
			<xs:documentation>
				Возрастная категория товара
				Детское - BABY
				Взрослое - ADULT
				Без возраста - NO_AGE
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="BABY"/>
			<xs:enumeration value="ADULT"/>
			<xs:enumeration value="NO_AGE"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="declaration_number_type">
		<xs:annotation>
			<xs:documentation>Регистрационный номер ДТ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{8}\/[0-9]{6}\/[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="atk_type">
		<xs:annotation>
			<xs:documentation>Агрегированный таможенный код</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="25"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="vvod_fts_children_list_type">
		<xs:sequence>
			<xs:element name="product" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Список КИ/КИТУ в составе КИТУ/АТК для ввода в оборот импортных товаров с ФТС
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ki" type="kit_type" minOccurs="0">
							<xs:annotation>
								<xs:documentation>КИ (код идентификации)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="kitu" type="kitu_type" minOccurs="0">
							<xs:annotation>
								<xs:documentation>КИТУ (код идентификации транспортной упаковки)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="color" type="string1024_type" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Цвет. Параметр обязателен для ТГ "Обувь"</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="product_size" type="shoe_size" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Размер в штихмассовой системе. Параметр обязателен для ТГ "Обувь"</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vvod_fts_children_list_type" minOccurs="0"
									type="vvod_fts_children_list_type">
							<xs:annotation>
								<xs:documentation>Список КИ/КИТУ в составе КИТУ/АТК для ввода в оборот импортных товаров с ФТС
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>